@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
html, body{
    min-height: 100vh;
    background-color: aquamarine;
  
}
body{
    margin: auto;
    padding: auto;
}

header{
    background-image: linear-gradient(rgba(154, 78, 240, 0.808), rgb(77, 45, 45));
    text-align: center;
    

    padding-top: 20px;
}
header > h1{
    color: rgb(0, 255, 55);
    font-variant: small-caps;
    text-shadow: 3px 3px 3px black;
}
header > p{
    color: azure;
    padding-bottom: 10px;
}
p > a{
    color: aqua;
    text-decoration: none;
}
section{
    line-height: 2em;
    padding-left: 30px;
    padding-bottom: 7vh;
    padding-top: 7vh;
    
}
section.normal{
    background-color: rgb(91, 95, 104);
    
    
}
section.normal > p{
    color: antiquewhite;
    
}
section.imagem{
    background-color: rgb(10, 12, 3);
    padding-right: 10px;
    color: white
}
section.imagem > p{
    background-color: rgba(16, 47, 61, 0.712);
    max-width: 350px;
}
footer{
    background-image: linear-gradient(rgba(154, 78, 240, 0.808), rgb(77, 45, 45));
    color: rgb(33, 241, 33);
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
    margin: auto;
    
}